<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="evidence">
	<h2 class="govuk-heading-l">Evidence</h2>
	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-one-half">
	    <div class="card">
	      <div class="card-head">
	        <h3 class="govuk-heading-m govuk-!-margin-0">What we have</h3>
	      </div>{# /card-head #}
	      <div class="card-body">
	        <p>I have enough evidence to recommend a file-based report</p>
	        <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert">View all recorded evidence</a>
	        <h4 class="govuk-heading-s govuk-!-margin-top-0">Previous decisions</h4>
	        <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-1">
	        View all recorded evidence
	        </a>
	      </div>{# /card-body #}
	    </div>{# /card #}
	  </div>{# /govuk-grid-column-one-half #}
	  <div class="govuk-grid-column-one-half">
	    <div class="card">
	      <div class="card-head">
	        <h3 class="govuk-heading-m govuk-!-margin-0">Record</h3>
	      </div>{# /card-head #}
	      <div class="card-body">
	        <h4 class="govuk-heading-s govuk-!-margin-top-0">Choose the evidence type you want to record:</h4>
	        <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-1">
	        Record a telephone conversation
	        </a>
	        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	        <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-1">
	        Record other evidence
	        </a>
	      </div>{# /card-body #}
	    </div>{# /card #}
	  </div>{# /govuk-grid-column-one-half #}
	</div>{# /govuk-grid-row #}
</section>