<section class="govuk-tabs__panel" id="timeline">

  {% if getData.person === "Fred Flintstone" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form received</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC5O form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">13 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 January 2020</span>
      </p>
    </li>
  </ol>

  {% elif getData.person === "Pink Panther" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form received</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">13 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 January 2020</span>
      </p>
    </li>
  </ol>

  {% elif getData.person === "Micky Mouse" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">DWP good cause decision: referred back for review</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">Referral returned to DWP</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">28 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">30 December 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created for review</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">27 December 2020</span>
      </p>
    </li>
  </ol>

  {% elif getData.person === "Bugs Bunny" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form received</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC5O form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">13 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 January 2020</span>
      </p>
    </li>
  </ol>

  {% elif getData.person === "Donald Duck" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">GP report – evidence returned</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">GP report – evidence requested</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">31 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form received</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">28 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">30 December 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">27 December 2020</span>
      </p>
    </li>
  </ol>

  {% elif getData.person === "Charlie Brown" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">DS1500 – evidence returned</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">Appointment letter sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">17 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">Appointment booked</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">17 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">GP report – evidence requested</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">2 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form received</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">28 December 2019</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">30 November 2019</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">27 November 2019</span>
      </p>
    </li>
  </ol>

  {% elif getData.person === "Yosemite Sam" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form received</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC5O form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">13 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 January 2020</span>
      </p>
    </li>
  </ol>

  {% elif getData.person === "Woody Woodpecker" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">DWP good cause decision: referred back for review</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">Referral returned to DWP</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">28 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">30 December 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">27 December 2020</span>
      </p>
    </li>
  </ol>

  {% elif getData.person === "Foghorn Leghorn" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form received</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC5O form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">13 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 January 2020</span>
      </p>
    </li>
  </ol>

  {% elif getData.person === "Jessica Rabbit" %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">GP report – evidence returned</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">12 February 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">GP report – evidence requested</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">31 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form received</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">28 January 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">UC50 form sent</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">30 December 2020</span>
      </p>
    </li>
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="dwp-timeline__date">27 December 2020</span>
      </p>
    </li>
  </ol>

  {% else %}

  <ol class="dwp-timeline">
    <li class="dwp-timeline__entry">
      <h3 class="dwp-timeline__title">New referral created</h3>
      <p class="dwp-timeline__info">
        <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
        <span class="dwp-timeline__date">29 January 2020</span>
      </p>
    </li>
  </ol>

  {% endif %}

</section>