{% extends "layout-staff-full-sidebar.html" %}

{% set bodyClasses = "v4" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{# Left panel #}

{% block leftPanel %}

<p><a href="/v4{% include 'v4/_params.html' %}" class="govuk-back-link">Back to dashboard</a></p>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="relative">
        <div class="review-count">
          You’ve done
          <span >
            <strong>
              {{ getData.task | int - 1 }}
            </strong>
          </span>
          {% if getData.task === "2" %}
            review
          {% else %}
            reviews
          {% endif %}
           so far today
        </div>
      </div>{# /relative #}

      <div style="margin-bottom: 60px;"></div>

      {% if getData.evidencemessage %}
        <div class="govuk-inset-text alert-green">
          <strong>Review complete</strong><br>
          Evidence requested for 
          {% if getData.person %}
            {{ getData.person }}
          {% else %}
            XXXX
          {% endif %}
        </div>
      {% endif %}
      {% if getData.facemessage %}
        <div class="govuk-inset-text alert-green">
          <strong>Review complete</strong><br>
          {% if getData.person %}
            {{ getData.person }}
          {% else %}
            XXXX
          {% endif %}
            will be called for an assessment 
        </div>
      {% endif %}
      {% if getData.withdrawmessage %}
        <div class="govuk-inset-text alert-green">
          <strong>Review complete</strong><br>
          {% if getData.person %}
            {{ getData.person }}’s
          {% else %}
            XXXX’s
          {% endif %}
          referral has been withdrawn
        </div>
      {% endif %}
      {% if getData.rejectmessage %}
        <div class="govuk-inset-text alert-green">
          <strong>Review complete</strong><br>
          {% if getData.person %}
            {{ getData.person }}’s
          {% else %}
            XXXX’s
          {% endif %}
          case has been returned to DWP 
        </div>
      {% endif %}
      {% if getData.savemessage %}
        <div class="govuk-inset-text alert-green">
          {% if getData.person %}
            {{ getData.person }}’s
          {% else %}
            XXXX’s
          {% endif %} 
          referral has been saved
        </div>
      {% endif %}

      

      <h1 class="govuk-heading-l">Your reviews</h1>

      <p>Anything you can’t finish today will be removed from your list and re-allocated.</p>

      <table class="govuk-table" style="max-width: 100%;">
      <tbody class="govuk-table__body">

      {% if "Fred Flintstone" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Fred%20Flintstone&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Fred Flintstone</a></th>
          <td class="govuk-table__cell">Terminally ill</td>
          <td class="govuk-table__cell">New referral</td>
          <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Fred Flintstone" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if "Pink Panther" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Pink%20Panther&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Pink Panther</a></th>
          <td class="govuk-table__cell">Terminally ill</td>
          <td class="govuk-table__cell">No paper file</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Pink Panther" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if "Micky Mouse" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Micky%20Mouse&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Micky Mouse</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">Claimant had good cause to miss appointment</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Micky Mouse" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if "Bugs Bunny" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Bugs%20Bunny&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Bugs Bunny</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">New referral</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Bugs Bunny" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if "Donald Duck" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Donald%20Duck&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Donald Duck</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">Further evidence returned</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Donald Duck" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if "Charlie Brown" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Charlie%20Brown&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Charlie Brown</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">Changed assessment route</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Charlie Brown" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if "Yosemite Sam" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Yosemite%20Sam&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Yosemite Sam</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">No paper file</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Yosemite Sam" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if "Woody Woodpecker" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Woody%20Woodpecker&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Woody Woodpecker</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">Claimant had good cause to miss appointment</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Woody Woodpecker" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if "Foghorn Leghorn" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Foghorn%20Leghorn&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Foghorn Leghorn</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">New referral</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Foghorn Leghorn" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if "Jessica Rabbit" in getData.missing %}
      {% else %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task={{ getData.task }}&amp;person=Jessica%20Rabbit&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }}">Jessica Rabbit</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">Further evidence returned</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
            {% if "Jessica Rabbit" in getData.saved %}
              <div class="badge">Saved until tomorrow at 11:59pm</div>
            {% endif %}
          </td>
        </tr>
      {% endif %}

      {# Extra stuff #}

      {% if getData.extra %}

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">Lisa Simpson</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">  New referral</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">Wilma Flintstone</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">  New referral</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">Tasmanian Devil</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">  New referral</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">Winnie-the-Pooh</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">Further evidence returned</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">Yogi Bear</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">No paper file</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">Scooby Doo</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">No paper file</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">Jessica Rabbit</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">Further evidence returned</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">Mr. Burns</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">New referral</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">George Jetson</a></th>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">Claimant had good cause to miss appointment</td>
           <td class="govuk-table__cell" style="text-align: right">&nbsp;
          </td>
        </tr>

      {% endif %}


      </tbody>
    </table>

    <br>

    {% if getData.extra %}
    {% else %}
      {% if getData.task === "9" %}
        <a href="/v4/case-list{% include 'v4/_params.html' %}&extra=true" class="govuk-button">Get more reviews</a>
      {% endif %}
    {% endif %}

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}