{% extends "layout-staff-full-sidebar.html" %}

{% set bodyClasses = "v4" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}


{# Left panel #}

{% block leftPanel %}

<div class="govuk-inset-text alert-green">
  <strong>Current status</strong><br>
  Ready for review
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# {% include "v4/_other-case-actions.html" %} #}

{% endblock %}

{# Main content #}

{% block content %}

{% include "v4/_staff-heading.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <h2 class="govuk-heading-l">Choose the evidence you want to request</h2>

  <div class="govuk-form-group">

    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
      
{#       <legend class="govuk-fieldset__legend">
        <strong>Choose the evidence you want to request</strong>
      </legend> #}

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="gp-report" name="radios" type="radio" value="gp-report" data-aria-controls="gp-report-conditional">
        <label class="govuk-label govuk-radios__label" for="gp-report">
          GP report
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="gp-report-conditional">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend form-label-bold">
              <h1 class="govuk-fieldset__heading" data-ga-type="legend" data-ga-question="Reason for requesting this evidence" id="reasonForRequest-legend"><strong>Reason for requesting this evidence</strong></h1>
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f-reasonForRequest-INSUFFICIENT" name="reasonForRequest" type="radio" value="INSUFFICIENT" aria-labelledby="f-reasonForRequest-INSUFFICIENT-label reasonForRequest-legend" data-ga-type="radio-button" data-ga-question="reasonForRequest-legend" data-ga-answer="Insufficient evidence to support claimant's statements">
                <label class="govuk-label govuk-radios__label form-label" id="f-reasonForRequest-INSUFFICIENT-label" for="f-reasonForRequest-INSUFFICIENT">
                  Insufficient evidence to support claimant's statements
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f-reasonForRequest-OTHER" name="reasonForRequest" type="radio" value="OTHER" aria-labelledby="f-reasonForRequest-OTHER-label reasonForRequest-legend" data-ga-type="radio-button" data-ga-question="reasonForRequest-legend" data-ga-answer="Other reason" aria-controls="conditional-f-reasonForRequest-OTHER">
                <label class="govuk-label govuk-radios__label form-label" id="f-reasonForRequest-OTHER-label" for="f-reasonForRequest-OTHER">
                  Other reason
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-f-reasonForRequest-OTHER">
                <div id="other-reason-conditional" blanked-by="f-reasonForRequest-INSUFFICIENT">
                  <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
                    <div class="govuk-form-group">
                      <label class="govuk-label form-label-bold" for="f-otherReasonForEvidence">
                        <strong>Add a reason for requesting this evidence</strong>
                      </label>
                      <textarea class="govuk-textarea js-character-count form-label textarea-size" id="f-otherReasonForEvidence" name="otherReasonForEvidence" rows="7" aria-describedby="f-otherReasonForEvidence-info"></textarea>
                    </div>
                  </div>
                </div>           
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="factual-report" name="radios" type="radio" value="phone" data-aria-controls="factual-report-conditional">
        <label class="govuk-label govuk-radios__label" for="factual-report">
          Factual report
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="factual-report-conditional">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            <strong>What information do you require?</strong>
          </label>
          <textarea class="govuk-textarea js-character-count form-label textarea-size" id="f-infoRequired" name="infoRequired" rows="7" aria-describedby="f-infoRequired-info"></textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend form-label-bold">
              <h1 class="govuk-fieldset__heading" data-ga-type="legend" data-ga-question="Reason for requesting this evidence" id="reasonForRequestFR-legend">Reason for requesting this evidence</h1>
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f-reasonForRequestFR-INSUFFICIENT" name="reasonForRequestFR" type="radio" value="INSUFFICIENT" aria-labelledby="f-reasonForRequestFR-INSUFFICIENT-label reasonForRequestFR-legend" data-ga-type="radio-button" data-ga-question="reasonForRequestFR-legend" data-ga-answer="Insufficient evidence to support claimant's statements">
                <label class="govuk-label govuk-radios__label form-label" id="f-reasonForRequestFR-INSUFFICIENT-label" for="f-reasonForRequestFR-INSUFFICIENT">
                  Insufficient evidence to support claimant's statements
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f-reasonForRequestFR-OTHER" name="reasonForRequestFR" type="radio" value="OTHER" aria-labelledby="f-reasonForRequestFR-OTHER-label reasonForRequestFR-legend" data-ga-type="radio-button" data-ga-question="reasonForRequestFR-legend" data-ga-answer="Other reason" aria-controls="conditional-f-reasonForRequestFR-OTHER">
                <label class="govuk-label govuk-radios__label form-label" id="f-reasonForRequestFR-OTHER-label" for="f-reasonForRequestFR-OTHER">
                  Other reason
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-f-reasonForRequestFR-OTHER">
                <div id="fr-other-reason-conditional" blanked-by="f-reasonForRequestFR-INSUFFICIENT">
                  <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
                    <div class="govuk-form-group">
                      <label class="govuk-label form-label-bold" for="f-otherReasonForEvidenceFR">
                        Add a reason for requesting this evidence
                      </label>
                      <textarea class="govuk-textarea js-character-count form-label textarea-size" id="f-otherReasonForEvidenceFR" name="otherReasonForEvidenceFR" rows="7" aria-describedby="f-otherReasonForEvidenceFR-info"></textarea>
                    </div>
                  </div>
                </div>      
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </fieldset>
</div>

    <a href="/v4/not-returned{% include 'v4/_params.html' %}" class="govuk-button">Save and continue</a>

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}