{% extends "layout-staff-full-sidebar.html" %}

{% set bodyClasses = "v5" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{# Left panel #}

{% block leftPanel %}

<a href="/v5/{% include 'v5/_params.html' %}" class="govuk-back-link">Back to dashboard</a>

{% endblock %}

{# Main content #}

{% block content %}

{# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div style="margin-bottom: 25px;"></div>

    <div class="govuk-panel govuk-panel--confirmation" style="padding: 20px">
      <h1 class="govuk-panel__title" style="font-size: 36px; margin-bottom: 10px">Review complete</h1>
      <div class="govuk-panel__body" style="font-size: 24px">
        {% if getData.confirmationmessage === "evidence" %}
          Evidence requested for {{ getData.person }}
        {% elif getData.confirmationmessage === "face" %}
          {{ getData.person }} will be called for an assessment
        {% elif getData.confirmationmessage === "rejected" %}
          {{ getData.person }}’s case will be checked to see if it should go back to DWP
        {% elif getData.confirmationmessage === "saved" %}
          {{ getData.person }}’s has been saved SAVED MESSAGE NEEDS A DIFFERENT HEADING 
        {% endif %}
      </div>{# /govuk-panel__body #}
    </div>{# /govuk-panel #}

    <p>You’ve done
      <span >
        <strong>
          {{ getData.task }}
        </strong>
      </span>
      {% if getData.task === "1" %}
        review
      {% else %}
        reviews
      {% endif %}
    so far today.</p>

    {% if getData.person == "Fred Flintstone" %}
      <a href="case?task={{ getData.task | int + 1 }}&amp;person=Pink%20Panther&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another case</a>
    {% elif getData.person == "Pink Panther" %}
      <a href="case?task={{ getData.task | int + 1 }}&amp;person=Micky%20Mouse&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another case</a>
    {% elif getData.person == "Micky Mouse" %}
      <a href="case?task={{ getData.task | int + 1 }}&amp;person=Bugs%20Bunny&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another case</a>
    {% elif getData.person == "Bugs Bunny" %}
      <a href="case?task={{ getData.task | int + 1 }}&amp;person=Donald%20Duck&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another case</a>
    {% elif getData.person == "Donald Duck" %}
      <a href="case?task={{ getData.task | int + 1 }}&amp;person=Charlie%20Brown&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another case</a>
    {% elif getData.person == "Charlie Brown" %}
      <a href="case?task={{ getData.task | int + 1 }}&amp;person=Yosemite%20Sam&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another case</a>
    {% elif getData.person == "Yosemite Sam" %}
      <a href="case?task={{ getData.task | int + 1 }}&amp;person=Woody%20Woodpecker&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another case</a>
    {% elif getData.person == "Woody Woodpecker" %}
      <a href="case?task={{ getData.task | int + 1 }}&amp;person=Foghorn%20Leghorn&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another case</a>
    {% elif getData.person == "Foghorn Leghorn" %}
      <a href="case?task={{ getData.task | int + 1 }}&amp;person=Jessica%20Rabbit&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another case</a>
    {% endif %}

    <h3 class="govuk-heading-m">Cases you’ve saved</h3>

    <table class="govuk-table" style="max-width: 100%;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v4/case?task=1&amp;person=Micky%20Mouse&amp;saved=Micky Mouse,&amp;missing=">Micky Mouse</a></th>
          <td class="govuk-table__cell">New referral</td>
          <td class="govuk-table__cell" style="text-align: right">&nbsp;
          <div class="badge" style="font-size: 16px; line-height: 20px; text-align: left;">
            <strong>Waiting for advice</strong><br>
            <span style="font-weight: normal; font-size: 16px; line-height: 20px; text-align: left;">Saved until 11:59pm today</span>
          </div>
          </td>
        </tr>
      </tbody>
    </table>

{#     <p><a href="case{% include 'v5/_params.html' %}" class="govuk-button">Review another case</a></p> #}

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}