{% extends "layout-staff-full-wide.html" %}

{% set bodyClasses = "v5" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{# Left panel #}

{% block beforeContent %}

<a href="/v5/{% include 'v5/_params.html' %}" class="govuk-back-link">Your dashboard</a>

{% endblock %}

{# Main content #}

{% block content %}

{# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

{#     <div style="margin-bottom: 25px;"></div> #}

    {% if getData.confirmationmessage === "evidence" %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Review complete</h1>
        <div class="govuk-panel__body">
          Evidence requested for {{ getData.person }}
        </div>{# /govuk-panel__body #}
      </div>{# /govuk-panel #}
    {% endif %}

    {% if getData.confirmationmessage === "face" %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Review complete</h1>
        <div class="govuk-panel__body">
          {{ getData.person }} will be called for an assessment
        </div>{# /govuk-panel__body #}
      </div>{# /govuk-panel #}
    {% endif %}

    {% if getData.confirmationmessage === "rejected" %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Review complete</h1>
        <div class="govuk-panel__body">
          {{ getData.person }}’s case will be checked to see if it should go back to DWP
        </div>{# /govuk-panel__body #}
      </div>{# /govuk-panel #}
    {% endif %}

    {% if getData.confirmationmessage === "saved" %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Referral saved</h1>
{#         <div class="govuk-panel__body">
          {{ getData.person }}’s referral has been added to your saved list
        </div> #}{# /govuk-panel__body #}
      </div>{# /govuk-panel #}
    {% endif %}

    <p>You’ve done
      <span >
        <strong>
          {{ getData.task | int -1 }}
        </strong>
      </span>
      {% if getData.task === "2" %}
        review
      {% else %}
        reviews
      {% endif %}
    so far today.</p>

    {% if getData.person == "Fred Flintstone" %}
      <a href="case?task={{ getData.task }}&amp;person=Pink%20Panther&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another referral</a>
    {% elif getData.person == "Pink Panther" %}
      <a href="case?task={{ getData.task }}&amp;person=Micky%20Mouse&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another referral</a>
    {% elif getData.person == "Micky Mouse" %}
      <a href="case?task={{ getData.task }}&amp;person=Bugs%20Bunny&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another referral</a>
    {% elif getData.person == "Bugs Bunny" %}
      <a href="case?task={{ getData.task }}&amp;person=Donald%20Duck&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another referral</a>
    {% elif getData.person == "Donald Duck" %}
      <a href="case?task={{ getData.task }}&amp;person=Charlie%20Brown&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another referral</a>
    {% elif getData.person == "Charlie Brown" %}
      <a href="case?task={{ getData.task }}&amp;person=Yosemite%20Sam&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another referral</a>
    {% elif getData.person == "Yosemite Sam" %}
      <a href="case?task={{ getData.task }}&amp;person=Woody%20Woodpecker&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another referral</a>
    {% elif getData.person == "Woody Woodpecker" %}
      <a href="case?task={{ getData.task }}&amp;person=Foghorn%20Leghorn&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another referral</a>
    {% elif getData.person == "Foghorn Leghorn" %}
      <a href="case?task={{ getData.task }}&amp;person=Jessica%20Rabbit&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;evidencemessage=true" class="govuk-button">Review another referral</a>
    {% elif getData.person == "Jessica Rabbit" %}
      <a href="done" class="govuk-button">Review another referral</a>
    {% endif %}

    {% if getData.saved != "" %}
      {% include 'v5/_saved-table.html' %} 
    {% endif %}

{#     <p><a href="case{% include 'v5/_params.html' %}" class="govuk-button">Review another referral</a></p> #}

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}