{% extends "layout-staff-full.html" %}

{% set bodyClasses = "v5" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{% block leftPanel %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Your dashboard</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Reviews</h3>
        </div>

        <div class="card-body">
          <p>Done today: <strong>{{ getData.task | int -1 }}</strong> &nbsp;&nbsp;&nbsp;</p>
          <a href="/v5/case{% include 'v5/_params.html' %} " role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-0">Review referrals and evidence</a>
          {% if getData.saved %}
            {% include 'v5/_saved-table.html' %} 
          {% endif %} 
        </div>{# /card-body #}
      </div>{# /card #}

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Reports based on written evidence</h3>
        </div>{# /card-head #}
        <div class="card-body">
          <p>Done today: <strong>0</strong>{#  &nbsp;&nbsp;&nbsp; Saved: <strong>0</strong> #}</p>
          <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-0">Complete reports based on written evidence</a>
        </div>{# /card-body #}
      </div>{# /card #}

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Face-to-face assessments</h3>
        </div>{# /card-head #}
        <div class="card-body">
          <p>Done today: <strong>0</strong>{#  &nbsp;&nbsp;&nbsp; Saved: <strong>0</strong> #}</p>
          <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-0">Complete reports based on written evidence</a>
        </div>{# /card-body #}
      </div>{# /card #}

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Audits</h3>
        </div>{# /card-head #}
        <div class="card-body">
          <p>Done today: <strong>0</strong>{#  &nbsp;&nbsp;&nbsp; Saved: <strong>0</strong> #}</p>
          <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-0">Audit completed reports</a>
        </div>{# /card-body #}
      </div>{# /card #}
    </div>{# /govuk-grid-column-full #}

  </div>{# /govuk-grid-row #}

{% endblock %}