// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// DWP components
@import 'dwp/dwp-alerts';
@import 'dwp/dwp-buttons';
@import 'dwp/dwp-header';
@import 'dwp/dwp-timeline';
@import 'dwp/dwp-key-details-bar';
@import 'dwp/dwp-search-box';
@import 'dwp/dwp-secondary-navigation';
@import 'dwp/dwp-tags';

// HMCTS components
@import 'hmcts/hmcts-sub-navigation';

// Patterns that aren't in Frontend
@import 'patterns/task-list';
@import 'patterns/related-items';

// // Components that aren't in Frontend
@import 'components/cookie-banner';
@import 'components/info-box';
@import 'components/misc';
@import 'components/tile';
@import 'components/border-box';

// App styles go here

* {
 font-family: "GDS Transport", Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

a:visited {
  color: $govuk-link-colour;
}

header a:visited {
  color: govuk-colour("white");
}

// // App specific
@import 'app/v3';
@import 'app/v4';
@import 'app/v5';
@import 'app/v6';
@import 'app/v7';
@import 'app/v8';
@import 'app/v9';
@import 'app/v10';

.govuk-tag--purple {
  color: govuk-shade(govuk-colour("purple"), 20);
  background: govuk-tint(govuk-colour("purple"), 80);
}

.govuk-tag--turquoise {
  color: govuk-shade(govuk-colour("turquoise"), 60);
  background: govuk-tint(govuk-colour("turquoise"), 70);
}

.govuk-tag--blue {
  color: govuk-shade(govuk-colour("blue"), 30);
  background: govuk-tint(govuk-colour("blue"), 80);
}

.govuk-tag--yellow {
  color: govuk-shade(govuk-colour("yellow"), 65);
  background: govuk-tint(govuk-colour("yellow"), 75);
}

.govuk-tag--orange {
  color: govuk-shade(govuk-colour("orange"), 55);
  background: govuk-tint(govuk-colour("orange"), 70);
}

.govuk-tag--red {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

.govuk-tag--pink {
  color: govuk-shade(govuk-colour("pink"), 40);
  background: govuk-tint(govuk-colour("pink"), 80);
}

.govuk-tag--green {
  color: govuk-shade(govuk-colour("green"), 20);
  background: govuk-tint(govuk-colour("green"), 80);
}

body.v10 {

	// LAYOUT

  .container-inner {
    padding: 0 15px;
    width: 100%;
    box-sizing:border-box;
    @include govuk-media-query($from: tablet) {
      padding: 0 30px;
    }
  }

  .grey-col {
    background-color: govuk-colour("light-grey");
    border-right: 2px solid govuk-colour("black");
    // padding-top: 10px;
  }

  .right-panel {
    @include govuk-media-query($from: tablet) {
      padding-left: 0;
    }
  }

  @include govuk-media-query($from: tablet) {
    .d-table-cell {
      display: table-cell;
      vertical-align: top;
      float: none;
      padding-bottom: 40px;
    }
  }

  // Key details

  .key-details {
    padding-top: 10px;
    dl {
      margin: 0;
      padding: 0;
    }
    dt {
      margin: 0;
      padding: 0;
    }
    dd {
      margin: 0;
      padding: 0;
    }
  }

  .key-details {
    overflow: hidden;
    margin-bottom: 20px;
  }

  section.govuk-tabs__panel {
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .key-details-heading-large {
    @include govuk-font(48, $weight: bold)
  }

  .key-details-summary-list {
    position: relative;
    top: -2px;
    dt {
      
      @include govuk-font(16);
    }
    dd {
      @include govuk-font(24, $weight: bold);
    }
    .col1, 
    .col2 {
      padding-bottom: 15px;
      @include govuk-media-query($from: tablet) {
        padding-top: 52px;
      }
    }
    .col1 {
      width: 45%;
      float: left;
    }
    .col2 {
      width: 45%;
      float: right;
    }
  }

  .badges {
    margin-bottom: 27px;
    position: relative;
    top: 3px;
  }

  .badge {
    background-color: govuk-colour("blue");
    clear: both;
    color: govuk-colour("white");
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
  }

  .dwp-timeline {
    border-left: 5px solid govuk-colour("blue");
    list-style: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  .dwp-timeline__entry {
    margin: 2em 0;
    padding-left: 25px;
    position: relative;

    &::before {
      background-color: govuk-colour("blue");
      content: ' ';
      height: 5px;
      left: 0;
      position: absolute;
      top: 0.8em;
      width: 15px;
    }

    .dwp-timeline__info {
      margin-top: 0;
    }

    .dwp-timeline__body {
      display: block;
    }
  }

  .dwp-timeline__title {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }

  .dwp-timeline__author,
  .dwp-timeline__date {
    color: $govuk-secondary-text-colour;
    display: block;
  }

  // Placeholder block

  .placeholder-block {
    background-color: govuk-colour("mid-grey");
    text-align: center;
    text-transform: uppercase;
    padding: 200px;
    font-weight: bold;
  }

  .card {
    border: 1px solid $govuk-border-colour;
    margin-bottom: 20px;
  }

  .card-head {
    padding: 1em;
    background-color: govuk-colour("light-grey");
  }

  .card-body {
    padding: 1em;
  }

  .review-count {
    position: absolute;
    @include govuk-font(19);
    right: 0;
    background: govuk-colour("light-grey");
    border: 1px solid govuk-colour("mid-grey");
    border-top: 0;
    padding: 10px;
    text-align: center;
  }

  .relative {
    position: relative;
  }

  .card .review-count{
    right: 20px;
    top: 20px;
  }

  // table tr th,
  // table tr td {
  //   vertical-align: middle;
  // } 

}