<section class="govuk-tabs__panel" id="details">
	<h2 class="govuk-heading-l">Details</h2>
	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">
	    <div class="card">
	      <div class="card-head">
	        <h3 class="govuk-heading-m govuk-!-margin-0">Medical conditions</h3>
	      </div>{# /card-head #}
	      <div class="card-body">

    			<table class="govuk-table">
      			<caption class="govuk-table__caption">Current medical conditions</caption>
      			<thead class="govuk-table__head">
        			<tr class="govuk-table__row">
          			<th scope="col" class="govuk-table__header">Name</th>
          			<th scope="col" class="govuk-table__header">Since</th>
          			<th scope="col" class="govuk-table__header">Source</th>
        			</tr>
      			</thead>
      			<tbody class="govuk-table__body">
        			<tr class="govuk-table__row">
          			<td class="govuk-table__cell" style="">{{ cases[caseNumber].condition }}</td>
          			<td class="govuk-table__cell" style="">29 December 2019</td>
          			<td class="govuk-table__cell" style="">GP</td>
        			</tr>
      			</tbody>
    			</table>
	        <a href="medical-conditions?case={{ getData.case }}" role="button" draggable="false" class="govuk-button button secondary-invert">Add or edit medical conditions</a>
	      </div>{# /card-body #}
	    </div>{# /card #}
	  </div>{# /govuk-grid-column-two-thirds #}
	  <div class="govuk-grid-column-one-third">
	    <div class="card">
	      <div class="card-head">
	        <h3 class="govuk-heading-m govuk-!-margin-0">Contact</h3>
	      </div>{# /card-head #}
	      <div class="card-body">
          <a href="details?case={{ getData.case }}" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-0" id="contact-details">
          View {{ cases[caseNumber].firstname }}’s details
          </a>
          {% if cases[caseNumber].consent === "No" %}
{#             <div id="benefit-type" class="badge">wefwf</div> #}
            <p style="margin-top: 15px; margin-bottom: 0">{{ cases[caseNumber].firstname }} has not given consent to contact medical professionals to request further medical information.</p>
          {% else %}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <a href="gp-details?case={{ getData.case }}" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-0" id="gp-details">
            View GP details
            </a>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <a href="medical-contact?case={{ getData.case }}" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-0" id="medical-contact-details">
            Add a medical contact
            </a>
          {% endif %}
          
	      </div>{# /card-body #}
	    </div>{# /card #}
	  </div>{# /govuk-grid-column-one-third #}
	</div>{# /govuk-grid-row #}
</section>