{% set bodyClasses = "v10" %}
{% set caseNumber = getData.case %}

{% extends "layout-staff-full-wide.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{# Left panel #}

{% block beforeContent %}

{# {% if getData.done %}
  <a href="/v10/dashboard?case={{getData.case | int +1}}" class="govuk-back-link">Your dashboard</a>
  {% else %}  
  <a href="/v10/dashboard?case={{getData.case}}" class="govuk-back-link">Your dashboard</a>
{% endif %} #}

<a href="/v10/dashboard?case={{getData.case | int +1}}" class="govuk-back-link">Your dashboard</a>

{% endblock %}

{# Main content #}

{% block content %}

{# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

{#     <div style="margin-bottom: 25px;"></div> #}

    {% if getData.confirmationmessage === "evidence" %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Review complete</h1>
        <div class="govuk-panel__body">
          Evidence requested for {{ cases[caseNumber].name }}
        </div>{# /govuk-panel__body #}
      </div>{# /govuk-panel #}
    {% endif %}

    {% if getData.confirmationmessage === "face" %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Review complete</h1>
        <div class="govuk-panel__body">
          {{ cases[caseNumber].name }} will be called for an assessment
        </div>{# /govuk-panel__body #}
      </div>{# /govuk-panel #}
    {% endif %}

    {% if getData.confirmationmessage === "report" %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Report complete</h1>
      </div>{# /govuk-panel #}
    {% endif %}

    {% if getData.confirmationmessage === "rejected" %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Review complete</h1>
{#         <div class="govuk-panel__body">
          MESSAGE NEEDED HERE
        </div> #}{# /govuk-panel__body #}
      </div>{# /govuk-panel #}
    {% endif %}

    {% if getData.confirmationmessage === "saved" %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Referral saved</h1>
      </div>{# /govuk-panel #}
    {% endif %}

    {% if (doneReferrals.done | length) == "1" %}
    <p>You’ve done <strong>{{ doneReferrals.done | length }}</strong> review so far today.</p>
    {% else %}
    <p>You’ve done <strong>{{ doneReferrals.done | length }}</strong> reviews so far today.</p>
    {% endif %}

{#     {% set caseNumber = getData.case | int + 1 %}
    {% set rejectedNumber = rejectedReferrals.rejected | length %}
    {% set savedNumber = savedReferrals.saved | length %}
    {% set doneNumber = caseNumber - rejectedNumber - savedNumber %}

    <p>You’ve just looked at your {{caseNumber}} case</p>
    <p>You’ve rejected {{rejectedNumber}} cases</p>
    <p>You’ve saved {{savedNumber}} cases</p> #}

{#     <p>You’ve done {{ caseNumber - rejectedNumber - savedNumber }} reviews so far today.</p>

    <p>You’ve done {{ (getData.case | int) + 1 - (rejectedReferrals.rejected | length) - (rejectedReferrals.saved | length) }} reviews so far today.</p> #}

{#     <p>You’ve done
      <span >
        <strong>
          {{ getData.task | int -1 }}
        </strong>
      </span>
      {% if getData.task === "2" %}
        review
      {% else %}
        reviews
      {% endif %}
    so far today.</p> #}

    <table class="govuk-table" style="max-width: 100%; margin-top: 15px; margin-bottom: -6px;">
{#             <caption class="govuk-table__caption">Saved referrals</caption> #}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th colspan="3" scope="col" class="govuk-table__header">Saved referrals</th>
{#                 <th scope="col" class="govuk-table__header">Notes</th>
      <th scope="col" class="govuk-table__header" style="width: 19%">Saved until</th> #}
    </tr>
{#               <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Referral</th>
      <th scope="col" class="govuk-table__header">Notes</th>
      <th scope="col" class="govuk-table__header" style="width: 19%">Saved until</th>
    </tr> #}
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">
        <a href="#">Fred Flintstone</a><br>
        <span style="font-weight: normal">New referral</span>
      </th>
      <td class="govuk-table__cell">
        <strong>Waiting for advice from a colleague</strong><br>
        <p style="margin-bottom: 3px">Need to speak to clinical service desk as I have a question...</p>
      </td>
      <td class="govuk-table__cell">Saved until<br>11:59pm today</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a href="#">Mickey Mouse</a><br>
        <span style="font-weight: normal">Re-referral</span>
      </th>
      <td class="govuk-table__cell">
        <strong>Waiting to receive a phone call</strong><br>
        <p style="margin-bottom: 3px">Called Dr Jones on 17 March to ask about Mickey’s treatment...</p>
      </td>
      <td class="govuk-table__cell">Saved until<br>11:59pm tomorrow</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a href="#">Barney Rubble</a><br>
        {% include "v10/_tag-special-rules.html" %}
      </th>
      <td class="govuk-table__cell">
        <strong>Waiting for advice from a colleague</strong><br>
        <p style="margin-bottom: 3px">Will speak to Sheila when she’s back from lunch.</p>
      </td>
      <td class="govuk-table__cell">Saved until<br>11:59pm today</td>
    </tr>
  </tbody>
</table>
    <br><br>

{# 
    <h1>Rejected</h1>

    <p>Saved: {{ savedReferrals.saved | length }}</p>

    <p>Rejected: {{ rejectedReferrals.rejected | length }}</p>

    <p>Done: {{ doneReferrals.done | length }}</p> #}

    <p><a href="/v10/case?case={{ getData.case | int +1}}" class="govuk-button">Review another referral</a></p>

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}