{% set bodyClasses = "v10" %}
{% set caseNumber = getData.case %}

{% extends "layout-staff-full-wide.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{% block leftPanel %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Your dashboard</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Reviews</h3>
        </div>

        <div class="card-body">
          <p>Done today: <strong>{{ doneReferrals.done | length }}</strong> &nbsp;&nbsp;&nbsp;</p>

          {% if getData.case %}
            <a href="/v10/case?case={{ getData.case }}" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-0">Review a referral</a>
          {% else %}
            <a href="/v10/case?case=0" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-0">Review a referral</a>  
          {% endif %}

          {% if savedReferrals.saved != "" %}
{#             {% include 'v10/_saved-table.html' %} #}
          {% endif %} 


          <table class="govuk-table" style="max-width: 100%; margin-top: 15px; margin-bottom: -6px;">
            <caption class="govuk-table__caption">Saved referrals</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Referral</th>
                <th scope="col" class="govuk-table__header">Notes</th>
                <th scope="col" class="govuk-table__header" style="width: 19%">Saved until</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="#">Fred Flintstone</a><br>
                  <span style="font-weight: normal">New referral</span>
                </th>
                <td class="govuk-table__cell">
                  <strong>Waiting for advice from a colleague</strong><br>
                  <p style="margin-bottom: 3px">Need to speak to clinical service desk as I have a question...</p>
                </td>
                <td class="govuk-table__cell">Today at 11:59pm</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="#">Mickey Mouse</a><br>
                  <span style="font-weight: normal">Re-referral</span>
                </th>
                <td class="govuk-table__cell">
                  <strong>Waiting to receive a phone call</strong><br>
                  <p style="margin-bottom: 3px">Called Dr Jones on 17 March to ask about Mickey’s treatment...</p>
                </td>
                <td class="govuk-table__cell">Tomorrow at 11:59pm</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border-bottom: none">
                  <a href="#">Barney Rubble</a><br>
                  <span style="font-size: 16px; border-left: 4px solid #f47838; line-height: 20px; text-align: left; font-weight: normal; background-color: #fde1d3; color: #0b0c0c; padding: 3px; position: relative; top: 0px"><span style="color: white; background-color: #0b0c0c; padding: 0px 7px; font-weight: bold; border-radius: 100%">!</span> <strong>Special rules, day 2</strong></span>
                </th>
                <td class="govuk-table__cell" style="border-bottom: none">
                  <strong>Waiting for advice from a colleague</strong><br>
                  <p style="margin-bottom: 3px">Will speak to Sheila when she’s back from lunch.</p>
                </td>
                <td class="govuk-table__cell" style="border-bottom: none">Today at 11:59pm</td>
              </tr>
            </tbody>
          </table>

        </div>{# /card-body #}
      </div>{# /card #}

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Reports based only on current evidence</h3>
        </div>{# /card-head #}
        <div class="card-body">
          <p>Done today: <strong>0</strong>{#  &nbsp;&nbsp;&nbsp; Saved: <strong>0</strong> #}</p>


            <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-0">Write a report</a>  


        </div>{# /card-body #}
      </div>{# /card #}

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Audits</h3>
        </div>{# /card-head #}
        <div class="card-body">
          <p>Done today: <strong>0</strong>{#  &nbsp;&nbsp;&nbsp; Saved: <strong>0</strong> #}</p>
          <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-0">Audit completed reports</a>
        </div>{# /card-body #}
      </div>{# /card #}
    </div>{# /govuk-grid-column-full #}

  </div>{# /govuk-grid-row #}

{% endblock %}