{% set bodyClasses = "v10" %}
{% set caseNumber = getData.case %}

{% extends "layout-staff-full-wide.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{% block leftPanel %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Your dashboard</h1>

  <h2 class="govuk-heading-l">Send questionnaires to claimants</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Universal Credit</h3>
        </div>
        <div class="card-body">
          <p><strong>34</strong> claimants are waiting for a UC50 form.</p>
          <a href="referral" role="button" draggable="false" class="govuk-button button secondary-invert" >See claimants that need a UC50</a>
          <p>15 envelopes have been addressed for UC50 forms today.</p>
          <p style="margin-bottom: 0"><a href="/rv1/history">View history</a></p>
        </div>{# /card-body #}
      </div>{# /card #}

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Employment and Support Allowance</h3>
        </div>
        <div class="card-body">
          <p><strong>12</strong> claimants are waiting for an ESA50 form.</p>
          <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert">See claimants that need an ESA50</a>
          <p>20 envelopes have been addressed for ESA50 forms today.</p>
          <p style="margin-bottom: 0"><a href="#">View history</a></p>
        </div>{# /card-body #}
      </div>{# /card #}

      <div class="card">
        <div class="card-head">
          <h3 class="govuk-heading-m govuk-!-margin-0">Personal Independence Payment</h3>
        </div>
        <div class="card-body">
          <p><strong>19</strong> claimants are waiting for a PIP2 form.</p>
          <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert">See claimants that need a PIP2</a>
          <p>0 envelopes have been addressed for PIP2 forms today.</p>
          <p style="margin-bottom: 0"><a href="#">View history</a></p>
        </div>{# /card-body #}
      </div>{# /card #}

     
    </div>{# /govuk-grid-column-full #}
  </div>{# /govuk-grid-row #}

{% endblock %}