{% set bodyClasses = "v10" %}
{% set caseNumber = getData.case %}

{% extends "layout-staff-full-wide.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{% block leftPanel %}
{% endblock %}

{% block beforeContent %}
  <p><a href="/rv1/dashboard" class="govuk-back-link">Back to your dashboard</a></p>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">History of addressed envelopes for UC50 referrals over the last 3 days</h1>

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">19 March 2020</h3>
        <ul class="govuk-list">
          <li><a href="referral-done">Mickey Mouse</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
        </ul>
      </li>
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">18 March 2020</h3>
        <ul class="govuk-list">
          <li><a href="referral-done">Mickey Mouse</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
        </ul>
      </li>
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">17 March 2020</h3>
        <ul class="govuk-list">
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
          <li><a href="#">Donald Duck</a></li>
          <li><a href="#">Barney Rubble</a></li>
          <li><a href="#">Wilma Fintstone</a></li>
          <li><a href="#">Bart Simpson</a></li>
          <li><a href="#">Minnie Mouse</a></li>
          <li><a href="#">Clark Kent</a></li>
          <li><a href="#">Lois Lane</a></li>
          <li><a href="#">Sponge Bob</a></li>
          <li><a href="#">Dora Explorer</a></li>
        </ul>
      </li>
    </ol>
   
  </div>{# /govuk-grid-column-full #}
</div>{# /govuk-grid-row #}

{% endblock %}