{% set bodyClasses = "v10" %}
{% set caseNumber = getData.case %}

{% extends "layout-staff-full-wide.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{% block leftPanel %}
{% endblock %}

{% block beforeContent %}
  <p><a href="/rv1/dashboard" class="govuk-back-link">Back to your dashboard</a></p>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">History of addressed envelopes for UC50 referrals over the last 2 days</h1>
  </div>{# /govuk-grid-column-full #}
</div>{# /govuk-grid-row #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">Today – 19 March 2020</h2>

    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Fred Flintstone",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"6 Street Lane, High Road, London, E14 1AE"
          }
        ],
        [
          {
            text: "Mikey Mouse",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"97 Mill Road, Stevenage, G41 9QW"
          }
        ],
        [
          {
            text: "Donald Duck",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"86 Main Street, Glasgow, G23 2IY"
          }
        ],
        [
          {
            text: "Baby Bear",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"215 Park Lane, Chelmsford, CM73 2DY"
          }
        ],
        [
          {
            text: "Betty Boop",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"9852 Alexander Road, Guildford, GU71 0YB"
          }
        ],
        [
          {
            text: "Bugs Bunny",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"75 King Street, Lerwick, ZE79 6EF"
          }
        ],
        [
          {
            text: "Charlie Brown",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"98 Station Road, Newcastle Upon Tyne, NE86 8PY"
          }
        ],
        [
          {
            text: "Daffy Duck",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"20 Church Street, Northampton, NN37 5UB"
          }
        ],
        [
          {
            text: "Dennis the Menace",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"89 Mill Lane, Canterbury, CT17 0EA"
          }
        ],
        [
          {
            text: "Garfield",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"76 High Street, Milton Keynes, MK36 0AD"
          }
        ],
        [
          {
            text: "Olive Oyl",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"9747 The Grove, Kingston Upon Thames, KT44 5DQ"
          }
        ],
        [
          {
            text: "Road Runner",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"567 The Avenue, Edinburgh, EH58 7TQ"
          }
        ],
        [
          {
            text: "Scooby-Doo",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"13 London Road, Southall, UB14 6ON"
          }
        ],
        [
          {
            text: "Yogi Bear",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"56 York Road, Hereford, HR66 1PI"
          }
        ],
        [
          {
            text: "Donald Duck",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"3 St. John’s Road, Kirkwall, KW3 8PY"
          }
        ]
      ]
    }) }}

    <h2 class="govuk-heading-m">Yesterday – 18 March 2020</h2>

    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Homer Simpson",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"6 Street Lane, High Road, London, E14 1AE"
          }
        ],
        [
          {
            text: "Elmer Fudd",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"97 Mill Road, Stevenage, G41 9QW"
          }
        ],
        [
          {
            text: "Jessica Rabbit",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"86 Main Street, Glasgow, G23 2IY"
          }
        ],
        [
          {
            text: "Porky Pig",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"215 Park Lane, Chelmsford, CM73 2DY"
          }
        ],
        [
          {
            text: "Mighty Mouse",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"9852 Alexander Road, Guildford, GU71 0YB"
          }
        ],
        [
          {
            text: "Felix the Cat",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"75 King Street, Lerwick, ZE79 6EF"
          }
        ],
        [
          {
            text: "Wilma Flintstone",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"98 Station Road, Newcastle Upon Tyne, NE86 8PY"
          }
        ],
        [
          {
            text: "Daffy Duck",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"20 Church Street, Northampton, NN37 5UB"
          }
        ],
        [
          {
            text: "Scrooge McDuck",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"89 Mill Lane, Canterbury, CT17 0EA"
          }
        ],
        [
          {
            text: "Speedy Gonzales",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"76 High Street, Milton Keynes, MK36 0AD"
          }
        ],
        [
          {
            text: "The Little Mermaid",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"9747 The Grove, Kingston Upon Thames, KT44 5DQ"
          }
        ],
        [
          {
            text: "Bullwinkle J. Moose",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"567 The Avenue, Edinburgh, EH58 7TQ"
          }
        ],
        [
          {
            text: "Inspector Gadget",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"13 London Road, Southall, UB14 6ON"
          }
        ],
        [
          {
            text: "Sideshow Bob",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"56 York Road, Hereford, HR66 1PI"
          }
        ],
        [
          {
            text: "Ned Flanders",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html:"3 St. John’s Road, Kirkwall, KW3 8PY"
          }
        ]
      ]
    }) }}

  </div>{# /govuk-grid-column-full #}
</div>{# /govuk-grid-row #}

{% endblock %}