<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="appointment">
	<h2 class="govuk-heading-l">Appointment</h2>
	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-one-third">
	    <div class="card">
	      <div class="card-head">
	        <h3 class="govuk-heading-m govuk-!-margin-0">Preferences</h3>
	      </div>{# /card-head #}
	      <div class="card-body">
	        <a href="appointment?case={{ getData.case }}" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-1">
	        Add preferences
	        </a>
	      </div>{# /card-body #}
	    </div>{# /card #}
	  </div>{# /govuk-grid-column-one-third #}
	</div>{# /govuk-grid-row #}
</section>