{% set bodyClasses = "v9" %}
{% set caseNumber = getData.case %}

{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{# Left panel #}

{% block leftPanel %}

<a href="/v9/dashboard?case={{ getData.case }}" class="govuk-back-link">Back to your dashboard</a>

{% include "v9/_current-status.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h3 class="govuk-heading-s">
  Suggested actions
</h3>

<a href="/v9/recommendation?case={{ getData.case }}" class="govuk-button button">Make recommendation</a><br>

<a href="/v9/request-evidence?case={{ getData.case }}" role="button" draggable="false" class="govuk-button button secondary-invert" style="margin-top: -10px">Request written evidence</a>

{% include "v9/_other-case-actions.html" %}

{% endblock %}

{# Main content #}

{% block content %}

{% include "v9/_staff-heading.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">

      <h2 class="govuk-tabs__title">Contents</h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#timeline">
            Timeline
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#details">
            Details
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#appointment">
            Appointment
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#evidence">
            Evidence
          </a>
        </li>
      </ul>
      
      {% include "v9/_tab-details.html" %}
      {% include "v9/_tab-timeline.html" %}
      {% include "v9/_tab-appointment.html" %}
      {% include "v9/_tab-evidence.html" %}

    </div>{# /govuk-tabs #}
  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}