{% set bodyClasses = "v9" %}
{% set caseNumber = getData.case %}

{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}


{# Left panel #}

{% block leftPanel %}

{% include "v9/_current-status.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{# Main content #}

{% block content %}

{% include "v9/_staff-heading.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -10px; margin-bottom: 30px">Back</a>

    <h1 class="govuk-heading-l">Details</h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Home telephone number</h2>
    <p>XXXXXXXXXX</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Mobile telephone number</h2>
    <p>XXXXXXXXXX</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Email address</h2>
    <p><a href="mailto:XXXXXXXXX@gmail.com">{{ cases[caseNumber].name | lower }}@gmail.com</a></p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Preferred contact</h2>
    <p>Email</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Address</h2>
    <p>
      6 Street Lane<br>
      High Road<br>
      London<br>
      E14 1AE
    </p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Is this address used for correspondence?</h2>
    <p>No</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Correspondence address</h2>
    <p>
      6 Street Lane<br>
      High Road<br>
      London<br>
      E14 1AE
    </p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Has {{ cases[caseNumber].firstname }} given consent to request further medical information?</h2>
    
    {% if cases[caseNumber].consent === "Yes" %}
      <p>Yes</p>
    {% else %}  
      <p>No</p>
    {% endif %}

    <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert">Edit details</a>

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}