{% set bodyClasses = "v9" %}
{% set caseNumber = getData.case %}

{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{# Left panel #}

{% block leftPanel %}

{% include "v9/_current-status.html" %}

{% endblock %}

{# Main content #}

{% block content %}

{% include "v9/_staff-heading.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -10px; margin-bottom: 30px">Back</a>

   <h2 class="govuk-heading-l">What is the reason you cannot progress this?</h2>

   <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

      <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="no-gp" name="no-gp" type="checkbox" value="no-gp">
          <label class="govuk-label govuk-checkboxes__label" for="no-gp">
            No GP details
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="no-ucb" name="no-ucb" type="checkbox" value="no-ucb">
          <label class="govuk-label govuk-checkboxes__label" for="no-ucb">
            No details of unacceptable claimant behaviour
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="no-questionnaire" name="no-questionnaire" type="checkbox" value="no-questionnaire">
          <label class="govuk-label govuk-checkboxes__label" for="no-questionnaire">
            No questionnaire
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="skills" name="skills" type="checkbox" value="skills">
          <label class="govuk-label govuk-checkboxes__label" for="skills">
            Needs someone with different skills
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="died" name="died" type="checkbox" value="died">
          <label class="govuk-label govuk-checkboxes__label" for="died">
            Claimant has died{#  and there is no death arrears payee #}
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="duplicate" name="duplicate" type="checkbox" value="duplicate">
          <label class="govuk-label govuk-checkboxes__label" for="duplicate">
            Duplicate referral
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-3">
          <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
            Other
          </label>
        </div>

        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-text">
              Reason
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text" name="contact-by-text" type="tel">
          </div>
        </div>
      </div>
    </fieldset>
  </div>{# /govuk-form-group #}

  <h3 class="govuk-heading-m">Notes (optional)</h3>

  <div class="govuk-form-group">
    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
  </div>

  <a href="confirmation-message?case={{ getData.case }}&amp;rejected={{ getData.case }}&amp;confirmationmessage=rejected&amp;done=y&amp;removesaved={{getData.case}}" class="govuk-button">Save and continue</a>

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}
