<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Other actions
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li><a href="/v3/save?task={{ getData.task }}&amp;person={{ getData.person }}">Save and do this later</a></li>
      <li><a href="/v3/reject?task={{ getData.task }}&amp;person={{ getData.person }}">Return to DWP</a></li>
      <li><a href="/v3/withdraw?task={{ getData.task }}&amp;person={{ getData.person }}">Withdraw referral</a></li>
    </ul>
  </div>
</details>