<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Other actions
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li><a href="/v3/save{% include 'v3/_params.html' %}">Save and do this later</a></li>
      <li><a href="/v3/reject{% include 'v3/_params.html' %}">Return to DWP</a></li>
      <li><a href="/v3/withdraw{% include 'v3/_params.html' %}">Withdraw referral</a></li>
    </ul>
  </div>
</details>