{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{# Left panel #}

{% block leftPanel %}

<p><a href="/v3/index?scenario={{ getData.scenario }}" class="govuk-back-link">Back to dashboard</a></p>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div style="margin-bottom: 30px;"></div>

      {% if getData.evidencemessage %}
        <div class="govuk-inset-text alert-green">
          <strong>Review complete</strong><br>
          Evidence requested for 
          {% if getData.scenario === "1-end" %}
            Fred Flintstone
          {% else %}
            XXXX
          {% endif %}
        </div>
      {% endif %}
      {% if getData.facemessage %}
        <div class="govuk-inset-text alert-green">
          <strong>Review complete</strong><br>
          {% if getData.scenario === "1-end" %}
            Fred Flintstone
          {% else %}
            XXXX
          {% endif %}
            will be called for an assessment 
        </div>
      {% endif %}
      {% if getData.withdrawmessage %}
        <div class="govuk-inset-text alert-green">
          <strong>Review complete</strong><br>
          {% if getData.scenario === "1-end" %}
            Fred Flintstone’s
          {% else %}
            XXXX’s
          {% endif %}
          referral has been withdrawn
        </div>
      {% endif %}
      {% if getData.rejectmessage %}
        <div class="govuk-inset-text alert-green">
          <strong>Review complete</strong><br>
          {% if getData.scenario === "1-end" %}
            Fred Flintstone’s
          {% else %}
            XXXX’s
          {% endif %}
          case has been returned to DWP 
        </div>
      {% endif %}
      {% if getData.savemessage %}
        <div class="govuk-inset-text alert-green">
          {% if getData.scenario === "1-end" %}
            Fred Flintstone’s
          {% else %}
            XXXX’s
          {% endif %} 
          referral has been saved
        </div>
      {% endif %}

      <div class="relative">
        <div class="review-count">
          You’ve done
          <span class="govuk-!-font-size-48">
            <strong>
              {% if getData.count %}
                {{ getData.count }}
              {% elif getData.scenario === "1-end" %}
                1
              {% else %}
                0
              {% endif %}
            </strong>
          </span>
          reviews so far today
        </div>
      </div>{# /relative #}

      <h1 class="govuk-heading-l">Your reviews</h1>

      <p>Anything you can’t finish today will be removed from your list and re-allocated.</p>

      <table class="govuk-table" style="max-width: 100%;">
      <tbody class="govuk-table__body">

        {% if getData.scenario === "1" %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/v3/case?scenario={{ getData.scenario }}">Fred Flintstone</a></th>
            <td class="govuk-table__cell">New referral</td>
            <td class="govuk-table__cell">&nbsp;</td>
          </tr>
        {% endif %}

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v3/case">Pink Panther</a></th>
          <td class="govuk-table__cell">No paper file</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v3/case">Micky Mouse</a></th>
          <td class="govuk-table__cell">Claimant had good cause to miss appointment</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v3/case">Bugs Bunny</a></th>
          <td class="govuk-table__cell">New referral</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v3/case">Donald Duck</a></th>
          <td class="govuk-table__cell">Further evidence returned</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v3/case">Charlie Brown</a></th>
          <td class="govuk-table__cell">Changed assessment route</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v3/case">Yosemite Sam</a></th>
          <td class="govuk-table__cell">No paper file</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v3/case">Woody Woodpecker</a></th>
          <td class="govuk-table__cell">New referral</td>
          <td class="govuk-table__cell" style="text-align: right">{% if getData.saved %}<div class="badge">Saved until tomorrow at 11:59pm</div>{% endif %}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v3/case">Foghorn Leghorn</a></th>
          <td class="govuk-table__cell">New referral</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/v3/case">Jessica Rabbit</a></th>
          <td class="govuk-table__cell">Further evidence returned</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <br>
    
{#     <a href="#" class="govuk-button">Get more reviews</a> #}

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}