{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}


{# Left panel #}

{% block leftPanel %}

<a href="/v3/case-list{% include 'v3/_params.html' %}" class="govuk-back-link">Back to your reviews</a>

<hr>

<div class="govuk-inset-text alert-green">
  <strong>Current status</strong><br>
  Ready for review
</div>

<hr>

<h3 class="govuk-heading-s">
  Suggested action
</h3>

<a href="recommendation{% include 'v3/_params.html' %}" class="govuk-button button">Make recommendation</a>

{% include "v3/_other-case-actions.html" %}

{% endblock %}

{# Main content #}

{% block content %}

{% include "v3/_staff-heading.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#timeline">
        Timeline
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#details">
        Details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#appointment">
        Appointment
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#evidence">
        Evidence
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="timeline">


    {% if getData.person === "Fred Flintstone" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% elif getData.person === "Pink Panther" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% elif getData.person === "Micky Mouse" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% elif getData.person === "Bugs Bunny" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% elif getData.person === "Donald Duck" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% elif getData.person === "Charlie Brown" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% elif getData.person === "Yosemite Sam" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% elif getData.person === "Woody Woodpecker" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% elif getData.person === "Foghorn Leghorn" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% elif getData.person === "Jessica Rabbit" %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% else %}

    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
        <h3 class="dwp-timeline__title">New referral created</h3>
        <p class="dwp-timeline__info">
          <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
          <span class="dwp-timeline__date">29 January 2020</span>
        </p>
      </li>
    </ol>

    {% endif %}




  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="details">
    <div class="placeholder-block">
      Details about the Fred would be here
    </div>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="appointment">
    <div class="placeholder-block">
      Details about the Fred would be here
    </div>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="evidence">
    <div class="placeholder-block">
      All evidence, including the questionnaire would be here
    </div>
  </section>

</div>

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}