{% extends "layout-staff-full.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{% block leftPanel %}

<div class="caseStatus">
  <h2 class="main-status" id="case-status-default">
    <span>Current status</span>Ready for review
  </h2>
  <h3 class="primary-action" id="suggested-case-action-default">
    <span>Suggested action</span>
  </h3>
  <a href="#" class="govuk-button button">
    Make recommendation
  </a>
</div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Other actions
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">Withdraw referral</a></li>
      <li><a href="#">Delete referral</a></li>
    </ul>
  </div>
</details>

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Dashboard</h1>

  <div class="card relative">
    <div class="review-count">
      You have reviewed <span class="govuk-!-font-size-48"><strong>2</strong></span>
      cases so far today
    </div>
    <div class="card-head">
      <h3 class="govuk-heading-m govuk-!-margin-0">Reviews</h3>
    </div>{# /card-head #}
    <div class="card-body">

      <a href="/v3/request-evidence" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-0">
      Review cases
      </a>
    </div>{# /card-body #}
  </div>{# /card #}

  <div class="card relative">
    <div class="review-count">
      You have reviewed <span class="govuk-!-font-size-48"><strong>2</strong></span>
      cases so far today
    </div>
    <div class="card-head">
      <h3 class="govuk-heading-m govuk-!-margin-0">Assessments</h3>
    </div>{# /card-head #}
    <div class="card-body">
      <p>I think further evidence will help JAYNE’S case</p>
      <a href="/v3/request-evidence" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-0">
      Choose evidence
      </a>
    </div>{# /card-body #}
  </div>{# /card #}

  <div class="card relative">
    <div class="review-count">
      You have reviewed <span class="govuk-!-font-size-48"><strong>2</strong></span>
      cases so far today
    </div>
    <div class="card-head">
      <h3 class="govuk-heading-m govuk-!-margin-0">Audits</h3>
    </div>{# /card-head #}
    <div class="card-body">
      <p>I think further evidence will help JAYNE’S case</p>
      <a href="/v3/request-evidence" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-0">
      Choose evidence
      </a>
    </div>{# /card-body #}
  </div>{# /card #}

{% endblock %}