{% extends "layout-staff-full.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{% block leftPanel %}

<div class="caseStatus">
  <h2 class="main-status" id="case-status-default">
    <span>Current referral status</span>Ready for review
  </h2>
  <h3 class="primary-action" id="suggested-case-action-default">
    <span>Suggested case action</span>
  </h3>
  <a href="#" class="govuk-button button">
    Make recommendation
  </a>
</div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Other case actions
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">Withdraw referral</a></li>
      <li><a href="#">Delete referral</a></li>
    </ul>
  </div>
</details>

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Dashboard</h1>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="v3/case-list">Review cases</a>
      You’ve reviewed 0 cases so far today
    </li>
    <li>
      <a href="#">Conduct face to face assessments</a>
      You’ve conducted 0 cases so far today
    </li>
    <li>
      <a href="#">Audit cases</a>
      You’ve audited 0 cases so far today
    </li>
  </ul>

{% endblock %}