{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}

{% block leftPanel %}

{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;"></div>

  <h1 class="govuk-heading-l">Dashboard</h1>

  <h2 class="govuk-heading-m">Welcome back, Paul</p>

  <ul class="govuk-list">
    <li>
      <a href="/v3/case-list?task={{ getData.task }}" class="govuk-heading-s govuk-!-margin-bottom-0">Reviews</a>
      You’ve done 0 reviews so far today
    </li>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <li>
      <a href="#" class="govuk-heading-s govuk-!-margin-bottom-0">File-based reports</a>
      You’ve done 0 file-based reports so far today
    </li>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <li>
      <a href="#" class="govuk-heading-s govuk-!-margin-bottom-0">Face-to-face assessments</a>
      You’ve done 0 face-to-face assessments so far today
    </li>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <li>
      <a href="#" class="govuk-heading-s govuk-!-margin-bottom-0">Audits</a>
      You’ve done 0 audits so far today
    </li>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </ul>

{% endblock %}