{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}


{# Left panel #}

{% block leftPanel %}

<div class="govuk-inset-text alert-green">
  <strong>Current referral status</strong><br>
  Ready for review
</div>

<hr>

{% include "v3/_other-case-actions.html" %}

{% endblock %}

{# Main content #}

{% block content %}

<div class="staff__heading">
  <div class="govuk-grid-row">
    <section class="key-details">
      <div class="govuk-grid-column-one-half">
        <div class="badges">
          <div id="benefit-type" class="badge">PIP</div>
        </div>
        <dl>
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="key-details-heading-large">Fred Flintstone</dd>
        </dl>
      </div><!-- column -->
      <div class="govuk-grid-column-one-half">
        <dl class="key-details-summary-list">
          <div class="col1">
            <dt>National Insurance number</dt>
            <dd>XX 00 00 XX A</dd>
          </div>
          <div class="col2">
            <dt>Date of birth</dt>
            <dd>1 January 1982</dd>
          </div>
        </dl>
      </div><!-- column -->
    </section>
  </div><!-- / govuk-grid-row -->
</div><!-- / staff__heading -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr>

    <a href="/v3/case" class="govuk-back-link">Back</a>

    <h2 class="govuk-heading-l">Make your recommendation</h2>


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="card">
          <div class="card-head">
            <h3 class="govuk-heading-m govuk-!-margin-0">Request evidence</h3>
          </div>{# /card-head #}
          <div class="card-body">
            <p>I think further evidence will help JAYNE’S case</p>
            <a href="/v3/request-evidence" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-0">
            Choose evidence
            </a>
          </div>{# /card-body #}
        </div>{# /card #}
      </div>{# /govuk-grid-column-one-third #}

      <div class="govuk-grid-column-one-third">
        <div class="card">
          <div class="card-head">
            <h3 class="govuk-heading-m govuk-!-margin-0">Face to face assessment</h3>
          </div>{# /card-head #}
          <div class="card-body">
            <p>I would like to call JAYNE in for a face to face assessment</p>
            <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-0">
            Call for assessment
            </a>
          </div>{# /card-body #}
        </div>{# /card #}
      </div>{# /govuk-grid-column-one-third #}

      <div class="govuk-grid-column-one-third">
        <div class="card">
          <div class="card-head">
            <h3 class="govuk-heading-m govuk-!-margin-0">Paper based assessment</h3>
          </div>{# /card-head #}
          <div class="card-body">
            <p>I have enough evidence to recommend a paper based assessment</p>
            <a href="#" role="button" draggable="false" class="govuk-button button secondary-invert govuk-!-margin-bottom-0">
            Start evidence
            </a>
          </div>{# /card-body #}
        </div>{# /card #}
      </div>{# /govuk-grid-column-one-third #}

    </div>{# /govuk-grid-row #}

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}