{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}


{# Left panel #}

{% block leftPanel %}

<div class="govuk-inset-text alert-green">
  <strong>Current referral status</strong><br>
  Ready for review
</div>

<hr>

{# {% include "v3/_other-case-actions.html" %} #}

{% endblock %}

{# Main content #}

{% block content %}

<div class="staff__heading">
  <div class="govuk-grid-row">
    <section class="key-details">
      <div class="govuk-grid-column-one-half">
        <div class="badges">
          <div id="benefit-type" class="badge">PIP</div>
        </div>
        <dl>
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="key-details-heading-large">Fred Flintstone</dd>
        </dl>
      </div><!-- column -->
      <div class="govuk-grid-column-one-half">
        <dl class="key-details-summary-list">
          <div class="col1">
            <dt>National Insurance number</dt>
            <dd>XX XX XX XX A</dd>
          </div>
          <div class="col2">
            <dt>Date of birth</dt>
            <dd>1 January 1982</dd>
          </div>
        </dl>
      </div><!-- column -->
    </section>
  </div><!-- / govuk-grid-row -->
</div><!-- / staff__heading -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   <hr>

   <a href="javascript:history.back()" class="govuk-back-link">Back</a>

   <h2 class="govuk-heading-l">Why are you rejecting this referral?</h2>

   <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="option1" name="radios" type="radio" value="option1">
        <label class="govuk-label govuk-radios__label" for="option1">
          This is a duplicate referral
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="option2" name="radios" type="radio" value="option2">
        <label class="govuk-label govuk-radios__label" for="option2">
          Form IB55/ESA55/UC55 not completed
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="option3" name="radios" type="radio" value="option3">
        <label class="govuk-label govuk-radios__label" for="option3">
          Referral type is missing/incorrect
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="option4" name="radios" type="radio" value="option4">
        <label class="govuk-label govuk-radios__label" for="option4">
          Details are not clear/legible
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="option5" name="radios" type="radio" value="option5">
        <label class="govuk-label govuk-radios__label" for="option5">
          Correct file jacket has not been used
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="option6" name="radios" type="radio" value="option6">
        <label class="govuk-label govuk-radios__label" for="option6">
          Date of incapacity is missing/incorrect
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="option7" name="radios" type="radio" value="option7">
        <label class="govuk-label govuk-radios__label" for="option7">
          PV details are missing
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="option8" name="radios" type="radio" value="option8">
        <label class="govuk-label govuk-radios__label" for="option8">
          Missing document/ information
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="other" name="radios" type="radio" value="text" data-aria-controls="other-conditional">
        <label class="govuk-label govuk-radios__label" for="other">
          Other
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-conditional">
        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Reason
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="event-name" name="event-name" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-text">
            Details
          </label>
          <textarea class="govuk-textarea govuk-!-width-two-thirds" id="ucb-details" name="ucb-details" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
      
    </fieldset>

  </div>{# /govuk-form-group #}

  <a href="reject2" class="govuk-button">Save and continue</a>

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}