{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}


{# Left panel #}

{% block leftPanel %}

<div class="govuk-inset-text alert-green">
  <strong>Current referral status</strong><br>
  Ready for review
</div>

<hr>

{% include "v3/_other-case-actions.html" %}

{% endblock %}

{# Main content #}

{% block content %}

<div class="staff__heading">
  <div class="govuk-grid-row">
    <section class="key-details">
      <div class="govuk-grid-column-one-half">
        <div class="badges">
          <div id="benefit-type" class="badge">PIP</div>
        </div>
        <dl>
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="key-details-heading-large">Fred Flintstone</dd>
        </dl>
      </div><!-- column -->
      <div class="govuk-grid-column-one-half">
        <dl class="key-details-summary-list">
          <div class="col1">
            <dt>National Insurance number</dt>
            <dd>XX 00 00 XX A</dd>
          </div>
          <div class="col2">
            <dt>Date of birth</dt>
            <dd>1 January 1982</dd>
          </div>
        </dl>
      </div><!-- column -->
    </section>
  </div><!-- / govuk-grid-row -->
</div><!-- / staff__heading -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   <hr>

   <a href="/v3/case" class="govuk-back-link">Back</a>

<form id="withdraw-ref-reason" name="withdraw-referral-reason" enctype="application/json" method="post" action="/cases/e0dcb806-7e0b-4340-8e09-ebb171633e92/withdraw-summary">
                    <span class="form-hint">Step 1 of 2</span>
                    <h1 class="heading-large govuk-!-margin-top-0" id="withdraw_referral-legend" data-ga-reason="Withdraw referral">Withdraw referral</h1>

                    

                    
                    
                    
                    
  
  
  
  
    
    
    
    
  
    
    
    
    
  
    
    
    
    
  
    
    
    
    
  

  

  





  

  

  
    
  

  
    
  
<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
  

  <div class="govuk-radios govuk-radios--conditional" data-module="radios">
    
    
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="claimant_has_died" name="withdraw_reason" type="radio" value="deceased" aria-labelledby="claimant_has_died-label withdraw_reason-legend" data-ga-type="radio-button" data-ga-question="withdraw_reason-legend" data-ga-answer="Claimant has died">
      <label class="govuk-label govuk-radios__label form-label" id="claimant_has_died-label" for="claimant_has_died">
        Claimant has died
      </label>
    </div>
    
    
    
    
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="claimant_has_returned_to_work" name="withdraw_reason" type="radio" value="returned_to_work" aria-labelledby="claimant_has_returned_to_work-label withdraw_reason-legend" data-ga-type="radio-button" data-ga-question="withdraw_reason-legend" data-ga-answer="Claimant has returned to work">
      <label class="govuk-label govuk-radios__label form-label" id="claimant_has_returned_to_work-label" for="claimant_has_returned_to_work">
        Claimant has returned to work
      </label>
    </div>
    
    
    
    
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="ucb" name="withdraw_reason" type="radio" value="potentially_violent" aria-labelledby="ucb-label withdraw_reason-legend" data-ga-type="radio-button" data-ga-question="withdraw_reason-legend" data-ga-answer="Unacceptable claimant behaviour" aria-controls="conditional-ucb">
      <label class="govuk-label govuk-radios__label form-label" id="ucb-label" for="ucb">
        Unacceptable claimant behaviour
      </label>
    </div>
    
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ucb">
        
  
  

<div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
  

<div class="govuk-form-group">
  <label class="govuk-label form-label-bold" for="f-ucbDetails">
    Details:
  </label>


  <textarea class="govuk-textarea js-character-count form-label form-control form-control-3-4" id="f-ucbDetails" name="ucbDetails" rows="6" aria-describedby="f-ucbDetails-info"></textarea><span id="f-ucbDetails-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 1000 characters remaining</span>
</div>

  
</div>


      </div>
    
    
    
    
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="other" name="withdraw_reason" type="radio" value="other_reason" aria-labelledby="other-label withdraw_reason-legend" data-ga-type="radio-button" data-ga-question="withdraw_reason-legend" data-ga-answer="Other" aria-controls="conditional-other">
      <label class="govuk-label govuk-radios__label form-label" id="other-label" for="other">
        Other
      </label>
    </div>
    
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
        
                        <div id="other-details-conditional" blanked-by="f-withdraw_reason-other">

                            
  
  
    
  
  
  
  

<div class="govuk-form-group">
  <label class="govuk-label form-label-bold" for="f-otherReason">
    Reason:
  </label>


  <input class="govuk-input govuk-!-width-one-half form-label" id="f-otherReason" name="otherReason" type="" maxlength="50">
</div>



                            
  
  

<div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
  

<div class="govuk-form-group">
  <label class="govuk-label form-label-bold" for="f-otherDetails">
    Details:
  </label>


  <textarea class="govuk-textarea js-character-count form-label form-control form-control-3-4" id="f-otherDetails" name="otherDetails" rows="6" aria-describedby="f-otherDetails-info"></textarea><span id="f-otherDetails-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 1000 characters remaining</span>
</div>

  
</div>


                        </div>
                    
      </div>
    
    
    
  </div>
  </fieldset>


</div>


                    <p>
                        
  
  
    
  
  
  
    
  
  
  <a href="/v3/withdraw2" class="govuk-button button">Save and continue</a>




                    </p>
                </form>


  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}