{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}


{# Left panel #}

{% block leftPanel %}

<div class="govuk-inset-text alert-green">
  <strong>Current status</strong><br>
  Ready for review
</div>

<hr>

{% endblock %}

{# Main content #}

{% block content %}

{% include "v3/_staff-heading.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-m">Step 2 of 2</span>
            Withdraw referral
          </h1>
        </legend>

        <p class="placeholder-block">Reason would be shown here</p>
        
      </fieldset>
    </div>{# /govuk-form-group #}

    <a href="/v3/case-list?task={{ getData.task }}&amp;person={{ getData.person }}&amp;saved={{ getData.saved }}&amp;missing={{ getData.missing }},{{ getData.person }}&amp;withdrawnmessage=true" class="govuk-button">Confirm withdrawal</a>

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}