{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}


{# Left panel #}

{% block leftPanel %}

<div class="govuk-inset-text alert-green">
  <strong>Current status</strong><br>
  Ready for review
</div>

<hr>

{% endblock %}

{# Main content #}

{% block content %}

<div class="staff__heading">
  <div class="govuk-grid-row">
    <section class="key-details">
      <div class="govuk-grid-column-one-half">
        <div class="badges">
          <div id="benefit-type" class="badge">UC</div>
        </div>
        <dl>
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="key-details-heading-large">Fred Flintstone</dd>
        </dl>
      </div><!-- column -->
      <div class="govuk-grid-column-one-half">
        <dl class="key-details-summary-list">
          <div class="col1">
            <dt>National Insurance number</dt>
            <dd>XX XX XX XX A</dd>
          </div>
          <div class="col2">
            <dt>Date of birth</dt>
            <dd>1 January 1982</dd>
          </div>
        </dl>
      </div><!-- column -->
    </section>
  </div><!-- / govuk-grid-row -->
</div><!-- / staff__heading -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr>

    <a href="/v3/case" class="govuk-back-link">Back</a>

    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-m">Step 1 of 2</span>
            Why are you withdrawing this referral?
          </h1>
        </legend>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="died" name="radios" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
            <label class="govuk-label govuk-radios__label" for="died">
              Claimant has died
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="work" name="radios" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
            <label class="govuk-label govuk-radios__label" for="work">
              Claimant has returned to work
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ucb" name="radios" type="radio" value="text" data-aria-controls="ucb-conditional">
            <label class="govuk-label govuk-radios__label" for="ucb">
              Unacceptable customer behaviour
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="ucb-conditional">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
                Details
              </label>
              <textarea class="govuk-textarea govuk-!-width-two-thirds" id="ucb-details" name="ucb-details" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="other" name="radios" type="radio" value="text" data-aria-controls="other-conditional">
            <label class="govuk-label govuk-radios__label" for="other">
              Other
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-conditional">
            <div class="govuk-form-group">
              <label class="govuk-label" for="event-name">
                Reason
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="event-name" name="event-name" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
                Details
              </label>
              <textarea class="govuk-textarea govuk-!-width-two-thirds" id="ucb-details" name="ucb-details" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
          </div>

        </div>
      </fieldset>
    </div>{# /govuk-form-group #}

    <a href="withdraw2" class="govuk-button">Save and continue</a>

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}