{% extends "layout-staff-full-sidebar.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block serviceName %}
{{ serviceName }}
{% endblock %}


{# Left panel #}

{% block leftPanel %}

<div class="govuk-inset-text alert-green">
  <strong>Current referral status</strong><br>
  Ready for review
</div>

<hr>

{% endblock %}

{# Main content #}

{% block content %}

<div class="staff__heading">
  <div class="govuk-grid-row">
    <section class="key-details">
      <div class="govuk-grid-column-one-half">
        <div class="badges">
          <div id="benefit-type" class="badge">PIP</div>
        </div>
        <dl>
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="key-details-heading-large">Fred Flintstone</dd>
        </dl>
      </div><!-- column -->
      <div class="govuk-grid-column-one-half">
        <dl class="key-details-summary-list">
          <div class="col1">
            <dt>National Insurance number</dt>
            <dd>XX XX XX XX A</dd>
          </div>
          <div class="col2">
            <dt>Date of birth</dt>
            <dd>1 January 1982</dd>
          </div>
        </dl>
      </div><!-- column -->
    </section>
  </div><!-- / govuk-grid-row -->
</div><!-- / staff__heading -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-m">Step 2 of 2</span>
            Withdraw referral
          </h1>
        </legend>

        <p class="placeholder-block">Reason would be shown here</p>
        
      </fieldset>
    </div>{# /govuk-form-group #}

    <a href="case-list?withdrawmessage=true&amp;claimant=fred" class="govuk-button">Confirm withdrawal</a>

  </div>{# /govuk-grid-full #}
</div>{# /govuk-grid-row #}

{% endblock %}