{% extends "layout_master.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-!-margin-top-8">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Work management prototypes</h1>

      <p><a href="/clear">Clear session data</a></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="version-1-notes">Version 1</a><br>
          30 January 2020, Quarry House</li>
        <li><a href="version-2-notes">Version 2</a><br>
          5 February 2020, Quarry House</li>
        <li><a href="version-3-notes">Version 3</a><br>
          13 February 2020, Salford</li>
        <li><a href="version-4-notes">Version 4</a> and <a href="version-5-notes">Version 5</a><br>
          21 February 2020, Belfast</li>
        <li><a href="version-6-notes">Version 6</a><br>
          2 March 2020, Tresco House</li>
        <li><a href="version-7-notes">Version 7</a><br>
          4 March 2020, Belfast</li>
        <li><a href="version-8-notes">Version 8</a><br>
          11 March 2020 (CHDA), Newcastle</li>
        <li><a href="version-9-notes">Version 9</a><br>
          13 March 2020, Birmingham (Capita, Escalations Team)</li>
      </ul>
    
    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}
</div>{# /govuk-!-margin-top-8 #}

{% endblock %}
