{% extends "layout_master.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-!-margin-top-8">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Work management prototypes (Team&nbsp;Mario)</h1>

{#       <ul class="govuk-list govuk-list--bullet">
        <li>Version 1</li>
        <li>Version 2</li>
        <li>Version 3
          <ul>
            <li><a href="#">Concept 1.2</a></li>
            <li><a href="v3/sign-in">Concept 3.0</a></li>
          </ul>
        </li>
      </ul>
 #}
      <h2 class="govuk-heading-small">Version 3</h2>
      <ul class="govuk-list">
        <li><a href="/v3/sign-in?task=0">Scenario 1</a></li>
        <li><a href="/v3/case-list?task=7&person=Jessica%20Rabbit&saved=&missing=,Fred%20Flintstone,Pink%20Panther,Micky%20Mouse,Yosemite%20Sam,Donald%20Duck,Bugs%20Bunny,Jessica%20Rabbit">Scenario 3</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}