t{% extends "layout_master.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-!-margin-top-4">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Version 7 &ndash; tested in Belfast on 4 March</h1>

      <h2 class="govuk-heading-m">Screens tested</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v7/sign-in">Start</a></li>
      </ul>

      <h2 class="govuk-heading-m">Changes since version 6</h2>
      <ul class="govuk-list govuk-list--bullet">
       <li></li>
       <li></li>
       <li></li>
      </ul>

      <h2 class="govuk-heading-m">What testing showed</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}
</div>{# /govuk-!-margin-top-8 #}

{% endblock %}
