t{% extends "layout_master.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-!-margin-top-4">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Version 5 &ndash; tested in Belfast on 21&nbsp;February&nbsp;2020</h1>
      <p>In this version we tested the one-at-a-time design in more depth.</p>
      <p>We tested with 6 PIP healthcare professionals at Capita in Belfast.</p>
      <h2 class="govuk-heading-m">Screens tested</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v5/sign-in?task=1">Start</a></li>
        <li><a href="/v5/later">Later in the day</a></li>
      </ul>
      <h2 class="govuk-heading-m">Differences from version 4</h2>
        <p>We changed the following for this test:<p>
       <ul class="govuk-list govuk-list--bullet">
         <li>users pick up the next case as they go - they reach a ‘done’ page where they are prompted to review another case</li>
         <li>dashboard is arranged into cards for each type of task with a header, a total of cases, a prompt to take the next task, and a list of any referrals they've saved</li>
        <li>saved referrals appear as a table within each card and show the type of referral, how long its saved for, and why it's saved</li>
    </ul>


      <h2 class="govuk-heading-m">What testing showed</h2>
      <p>We learned that:</p>
      <ul class="govuk-list govuk-list--bullet">
       <li>Capita work differently to CHDA. They stay on a particular task (in this case, initial review) and keep their cases until further evidence comes back. For this reason they were not completely ok with the idea of a daily ‘bundle’ of work. They could use it, but it felt unfamiliar.</li>
       <li>3 of the participants preferred getting their work one at a time. Although 1 person commented that it felt endless, as they like to know that they have finished their work.</li>
       <li>Participants thought that having a case list encouraged cherry picking and introduced an unnecessary step. But they could see themselves using the save button to build up their own list of pending tasks, as they do now.</li>
       <li>Staff maintain their own clerical records of what they’ve done and when they need to look at the case again. One used RAG rating based on dates. This meant they were looking for more detail in the prototype next to their saved referrals.</li>
       <li>They don’t sift for particular types of cases, so ‘type of referral’ was less useful to them.</li>
       <li>Participants were nervous of missing targets or doing things wrong &ndash; this meant they thought a ‘clock was ticking’ when they opened a case and looked for places to justify actions.</li>
       <li>They did not expect evidence requests to be within ‘Make recommendation’.</li>
       <li>They felt that returning a case to DWP was too premature, as if they hadn’t done their due diligence.</li>
      <ul>
    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}
</div>{# /govuk-!-margin-top-8 #}

{% endblock %}
