t{% extends "layout_master.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-!-margin-top-8">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Version 4 - tested in Belfast on 21 February 2020</h1>
      <h2 class="govuk-heading-m">What we wanted to test</h2>
      <p>In this version we tested the case list design in more depth.</p>
      <p>We tested with 6 PIP healthcare professionals at Capita.</p>
      <h2 class="govuk-heading-m">Changes since version 3</h2>
      <p>Changes since version 3:<p>
       <ul class="govuk-list govuk-list--bullet">
         <li>totals are less prominent on the dashboard</li>
         <li>users are taken straight to the ‘Details’ tab rather than the ‘Timeline’ tab - this is what happens in the service now but it also helps us to see if it clarifies at what point they'd click on 'make recommendation'</li>
      <li>added a list of reasons for saving (which will appear as labels on the case list) and a couple of different options for setting how long it will be saved</li>
      <li>made the confirmation messages more obvious - rather than a banner at the top of the case list they are now taken to a page with a large green banner and a button to take them back to the case list</li>
      <li>changed the labels on the dashboard into more descriptive tasks to see if that helped with comprehension</li>
      <li>removed any reasons for returning to DWP that didn’t seem right last time</li>
      <li>changed ‘Return to DWP’ to ‘Suggest return to DWP’ to see if that made healthcare professionals more comfortable with taking action</li>
      <li>made some of the plain English text clearer - for example, ‘Changed assessment route’ is now ‘New evidence received’</li>
      <li>changed the hint text on the case list so it doesn't contradict the saved labels</li>
    </ul>

      <h2 class="govuk-heading-m">What testing showed</h2>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}
</div>{# /govuk-!-margin-top-8 #}

{% endblock %}
